
.Verify-App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 75px;
    margin-left: 32px;
    margin-right: 32px;
}

.Verify-App h1 {
    font-size: 4.0rem;
}




@media (min-width: 400px) {}
