@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Lato');

@font-face {
  font-family: 'Dense-Regular';
  src: url("Dense-Regular.otf") ;
  
  }


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1 {
  /*font-family: 'Oswald', sans-serif; */
  font-family: 'Dense-Regular', sans-serif;
  font-weight: 500;
  font-size: 32pt;
  margin-bottom: 0px;
  font-style: inherit;
}
p {
  font-family: 'EB Garamond', serif;
}

.button-standard {
  background-color: white;
            border: none;
            padding: 12px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
  font-family: 'Dense-Regular', sans-serif;
  border: 2px solid white;
            transition-duration: 0.4s;
            outline: none;
            cursor: pointer;
}



.button-standard:hover { 
  background-color: unset;
  border: 2px solid white;
color: white
}



/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}